<ng-container *ngIf="data; else loading">
<div class="container">
  <br>
  <div class="row">
    <div class="col-lg-7">
        <div class="card ">
            <div class="card-header bg-info text-white">
                {{ title }}
            </div>
      <table class="table table-hover">
        <thead>

          <tr>
            <th scope="col" *ngFor="let model of dataModelList" >{{ model.columnReference }}</th>
            <th scope="col">
              <button class="btn btn-outline-primary"
                                    (click)="operation = 'add'; init();">ADD</button>
            </th>
          </tr>

        </thead>
        <tbody>

          <tr *ngFor="let item of data"> <!-- boucle pour remplir les ligne-->
            <td *ngFor="let model of dataModelList">{{ item[model.columnName] }}</td> <!-- boucle pour remplir les colones-->
            <td><button class="btn btn-outline-primary"
                        (click)="operation = 'edit'; selectedItem = item;">Edit</button></td>
            <td><button class="btn btn-outline-danger"
                        (click)="operation = 'remove'; selectedItem = item;">Remove</button></td>
          </tr>

        </tbody>
      </table>
    </div>
    </div>

    <div class="col-lg-5">
      <div class="card">
        <div class="card-header bg-info text-white">
          {{ operation =='add' ? 'Ajouter' :
             operation == 'edit' ? 'Modifier' :
             operation == 'remove' ? 'Suprimer' :
             '' }}
        </div>

        <div class="card-body">
            <div *ngIf="operation == 'add' || operation == 'edit'">
              <form [formGroup]="crudForm">
                <div  *ngFor="let model of dataModelList" [ngSwitch]="model.dataType">
                    <div class="form-group" *ngIf="!model.readOnly" >
                        <label>{{model.columnReference}}:</label>
                        <input *ngSwitchCase="'string'"
                               type="text"
                               class="form-control"
                               formControlName="{{model.columnName}}"
                               [(ngModel)]="selectedItem[model.columnName]"/>

                        <input *ngSwitchCase="'number'"
                               type="number"
                               class="form-control"
                               formControlName="{{ model.columnName }}"
                               [(ngModel)]="selectedItem[model.columnName]"/>
                    </div>
                </div>

              </form>

                  <div class="card-footer">
                      <button type="button"
                              [disabled]="crudForm.pristine || crudForm.invalid"
                              class="btn btn-info"
                              (click)="operation == 'add' ? add() : update() ">
                      {{ operation == "add" ? "Ajouter" : operation == "edit" ? "Modifier" : '' }}
                      </button>
                  </div>
            </div>

            <div *ngIf="operation == 'remove'">
                <p class="card-title">
                      Référence : {{ selectedItem.id }}
                </p>
                <p>
                  Voulez vous vraiment suprimer cet élément ?
                </p>
                <button class="btn btn-success" [disabled]= "!selectedItem.id" (click)="delete()">Confirmer</button>
              </div>

        </div>
      </div>
    </div>
  </div>
</div>
</ng-container>
<ng-template #loading>chargement en court ...</ng-template>
